CREATE TYPE estado_pago_enum AS ENUM ('pendiente', 'procesando', 'pagado', 'fallido'); ALTER TABLE rutas ADD COLUMN estado_pago estado_pago_enum DEFAULT 'pendiente'; CREATE TABLE comprobantes_pago ( id UUID PRIMARY KEY DEFAULT uuid_generate_v4(), ruta_id UUID REFERENCES rutas(id) ON DELETE CASCADE, monto NUMERIC NOT NULL, fecha_pago TIMESTAMP WITH TIME ZONE DEFAULT NOW(), metodo_pago VARCHAR(50) DEFAULT 'khipu', transaction_id VARCHAR(255) NOT NULL, metadata JSONB, created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW() );
